main {
  display: flex;
  margin: 3rem;
  background-color: var(--white);
  max-width: 140rem;
  border-radius: 25px;
  display: flex;
  transition: all 01s;
  box-shadow: var(--main-shadow);
  overflow: hidden;
  animation: bg-animation 1.5s ease-in;
}

nav {
  flex: 0 0 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid var(--grey);
}

.nav__item {
  padding: 2.5rem;
  transition: all 0.3s;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 105%, var(--primary) 110%);
}

.nav__item--active {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) -20%,
    var(--primary) 250%
  );
  border-right: 5px solid var(--primary);
}

.nav__item:hover {
  border: 2px solid var(--primary);
}

.nav__item:active {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 10%, var(--primary) 300%);
}

.board {
  flex: 0 1 60%;
  padding: 4rem;
}

.board__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid var(--grey);
}

.btn--board {
  vertical-align: middle;
  line-height: 1;
}

.btn--board span {
  vertical-align: super;
}

.btn--board:hover {
  border: 2px solid var(--primary);
}

.board__heading {
  font-size: 2rem;
  font-weight: 500;
}

.board__content {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside {
  padding: 10rem;
  flex: 0 1 28%;
  color: var(--white);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

aside > *:not(:last-child) {
  margin-bottom: 2.5rem;
}

.user__icon {
  width: 20rem;
  height: 20rem;
  border-radius: 2.5rem;
  background-image: url(../img/userimg.svg);
  box-shadow: var(--btn-shadow);
}

@keyframes bg-animation {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.calendar {
  background-color: var(--grey);
  border-radius: 2.5rem;
  padding: 3rem;
  margin-bottom: 2rem;
}

.calendar__title {
  color: var(--grey-dark);
  font-weight: 600;
  text-align: right;
  margin-bottom: 3rem;
}

.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, minmax(1rem, 5rem));
  grid-template-rows: repeat(6, minmax(1rem, 5rem));
  gap: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.calendar__date {
  background-color: var(--white);
  /* border: 1px solid currentColor; */
  border-radius: 7px;
}

.calendar__date--curr {
  background-color: var(--primary);
  color: var(--white);
}

.calendar__date--miss {
  border: 1px solid var(--accent);
}
